{% extends 'master.html' %}

{% load static %}
<!-- {% block title %}Login{% endblock %} -->

{% block content %}
<section id="innerpage">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>Login</h2>


                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Login page</li>
                </ul>
            </div>
        </div>
    </section>
    <main id="main">
        <div class="container">
<section class="wow fadeInUp">
                <div class="border-box">
                    <div class="row">
                        
                        <div class="col-lg-9 col-md-9">
                            <h2>Login</h2>
							<form method="post" class="form-group">
									  {% csrf_token %}
									  {{ form.as_p   }}
                                        <a href="/password_reset/" class="btn btn-secondary btn-sm" role="button">Forgot Password?</a>
                                        <a href="{% url 'register_user' %}" class="btn btn-secondary btn-sm" role="button">Sign-Up</a>
                                        <button type="submit" class="btn btn-primary btn-sm">Login</button>
                                    
								</form>                  </div>
                    </div>
                </div>
            </section>
                               


{% endblock %}