<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Events</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="{% static 'event_reg/img/favicon.png' %}" rel="icon">
    <link href="{% static 'event_reg/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="{% static 'event_reg/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="{% static 'event_reg/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'event_reg/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'event_reg/css/style.css' %}" rel="stylesheet" />
</head>
<body>

    <div class="modal fade" id="login-signin" tabindex="-1" role="dialog" aria-labelledby="login-signin" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body p-0">
                    <nav class="login-btns">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active  m-0" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">LOGIN</a>
                            <!--<a class="nav-item nav-link m-0" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="false">SIGNUP</a>-->

                        </div>
                    </nav>
                    <div class="border-box m-0">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane  fade show active" id="login" role="tabpanel" aria-labelledby="login">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white">
                                            <i class="fa  fa-user fa-fw"></i>
                                        </span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="User Name">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white"><i class="fa  fa-key fa-fw"></i></span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="Password">
                                </div>
                                <div class="text-center mt-1">
                                    <a href="user-admin.html" class="btn btn-info">LOGIN</a>
                                </div>
                            </div>
                            <!--<div class="tab-pane fade" id="signin" role="tabpanel" aria-labelledby="signin">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white">
                                            <i class="fa fa-envelope-o fa-fw"></i>
                                        </span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="Email address">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white">
                                            <i class="fa  fa-user fa-fw"></i>
                                        </span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="User Name">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white"><i class="fa  fa-key fa-fw"></i></span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="Password">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white"><i class="fa  fa-key fa-fw"></i></span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="Confirm Password">
                                </div>
                                <div class="text-center mt-1">
                                    <button type="button" class="btn btn-info">
                                        SIGN UP
                                    </button>
                                </div>
                            </div>-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
     <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">

                <a href="{% url 'home' %}" class="scrollto"><img src="{% static 'event_reg/img/logo.png' %}" alt="" title=""></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about_us' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <!-- <li><a class="" href="#" data-toggle="modal" data-target="#login-signin">Login / Register</a></li>-->
                    <li><a class="btn btn-info add-event-btn" href="/admin/" >{{user}}</a></li>
                    <li><a class="btn btn-info add-event-btn" href="/accounts/logout/" >Logout</a></li>
                </ul>
            </nav>
     <!-- #nav-menu-container -->
        </div>
    </header>


    <section id="innerpage">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>About Us</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ul>
            </div>
        </div>
    </section>
    <main id="main" class="bg-white">
        <div class="container">
            <section class="wow fadeInUp">

                <div class="row">
                    <div class="col-lg-7 col-md-7">

                        <div class="wow fadein ">
                            <img src="{% static 'event_reg/img/about-us.png' %}" alt="about us image" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="section-header ptb-30">
                            <h2>
                                ABOUT US

                            </h2>
                        </div>
                        <p>
                           Founded in 2019 in Pune by talented and versatile actors Roshan Patel and Pratham Takawale VYOMA Motion Pictures is set to create and produce the definitive, versatile, and prominent work Indian cinema.
                        </p>
                        <p>
Over the years, Roshan Patel and Pratham Takawale have had the insiders’ experience of the Indian Film Industry. Their struggles, years of experience, and passion to help other talented aspiring artists, lead to the foundation of VYOMA Motion Pictures Pvt. Ltd. 
</p>
<p>
VYOMA Motion Pictures is a Pune based production house with a team of experts and passionate writers, editors, creative directors, production coordinators, and technicians who work together on the project to create a piece of art that will not only tug the audience’s hearts but help raw talents and known faces to showcase their talent through powerful story and characters.
</p>
<p>
VYOMA Motion Pictures has marked its uniqueness from the very first step by focusing on finding fresh talent. The founders and the expert team of VYOMA host online competitions and short film festivals to find the hidden talent among the crowd and provide them the platform they deserve. 
</p>
<p>
From casting, movie production, and short films to music album, music concerts, and short film festivals VYOMA aims to provide the best of all under one roof.
</p>
<p>
The company is keen to serve as a home to the talented actors and artists as well as the celebrities in the country, has focused on building a reputation through powerful storytelling with quality and detail. We believe in creating original content that is both entertaining and enriching to the audience.
Get in touch to know how we can help you with our offerings and help you create a benchmark in the entertainment industry for others to follow.


                        </p>
                    </div>
                </div>
            </section>




        </div>

    </main>
    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="{% static 'event_reg/img/logo.png' %}" alt="TheEvenet">
                        <p>VYOMA Motion Pictures Pvt. Ltd.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            
                            <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about_us' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Contact Us</h4>
                        <p>
                            <i class="fa fa-map-marker"></i> jdf gjdfghjdf hgfd <br>
                            fdgjkfd gkfdgfdg 456545<br>
                            India <br>
                            <strong><i class="fa fa-phone"></i> </strong> 1234567890<br>
                            <strong><i class="fa  fa-envelope"></i>  </strong> info@domain.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Follow Us</h4>


                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="copyright">
            <small> &copy; Copyright <strong>Vyoma Motion pictures</strong>. All Rights Reserved</small>
        </div>

    </footer>
    <!-- #footer -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="{% static 'event_reg/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'event_reg/lib/superfish/superfish.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'event_reg/js/main.js' %}"></script>
</body>
</html>
