
{% extends 'master.html' %}

{% load static %}
{% block content %}
    <section id="innerpage">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>About Us</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ul>
            </div>
        </div>
    </section>
    <main id="main" class="bg-white">
        <div class="container">
            <section class="wow fadeInUp">

                <div class="row">
                    <!--<div class="col-lg-7 col-md-7">

                        <div class="wow fadein ">
                            <img src="{% static 'event_reg/img/about-us.png' %}" alt="about us image" class="img-fluid" />
                        </div>
                    </div>-->

                    <div class="col-lg-12 col-md-12">
                        <div class="border-box">
                            <h4  class="text-center">VYOMA Motion Pictures</h4>
                            <p>VYOMA Motion Pictures founded in 2019 in Pune by talented and versatile actors Roshan Patel and Pratham Takawale VYOMA Motion Pictures is set to create and produce the definitive, versatile, and prominent work Indian cinema.<br>
Over the years, Roshan Patel and Pratham Takawale have had the insiders’ experience of the Indian Film Industry. Their struggles, years of experience, and passion to help other talented aspiring artists, lead to the foundation of VYOMA Motion Pictures Pvt. Ltd. <br>
VYOMA Motion Pictures is a Pune based production house with a team of experts and passionate writers, editors, creative directors, production coordinators, and technicians who work together on the project to create a piece of art that will not only tug the audience’s hearts but help raw talents and known faces to showcase their talent through powerful story and characters.<br>
VYOMA Motion Pictures has marked its uniqueness from the very first step by focusing on finding fresh talent. The founders and the expert team of VYOMA host online competitions and short film festivals to find the hidden talent among the crowd and provide them the platform they deserve. <br>

From casting, movie production, and web series to music album, music concerts, and short film festivals VYOMA aims to provide the best of all under one roof.<br>
The company is keen to serve as a home to the talented actors and artists as well as the celebrities in the country, has focused on building a reputation through powerful storytelling with quality and detail. We believe in creating original content that is both entertaining and enriching to the audience.<br>
Get in touch to know how we can help you with our offerings and help you create a benchmark in the entertainment industry for others to follow.
</p>
                           <p><h4>VISION</h4> 
We believe that the film industry is a powerful medium to create awareness in today’s society and bring societal issues in the front. At VYOMA Motion Pictures we will always strive to create and develop pieces of art - whether it is a movie, web series or a short film – that will both entertain and enrich the audience.

                            </p>
                            <p><h4>MISSION</h4>
At VYOMA Motion Pictures we work on finding the talent within you and provide the right platform that will give justice to your skills and efforts. We focus on giving equal chance to the struggling talent and fresh faces alongside the celebrities at our production house. Our casting team is an expert to find the talent within you and offer you the perfect role and platform for you.

                            </p>
                           <p><h4>OBJECTIVE</h4>
Talented and aspiring artists always have to struggle to find a platform or an opportunity to showcase their talent. We at VYOMA Motion Pictures aim to give the equal chance to such aspiring artists. Our objective is to find talented artists and provide them the necessary platform to help achieve their dreams.

                            </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="border-box">
                            <h2 style="color: white" class="text-center">OUR LEADERSHIP</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="card testimonial-card">
                            <div class="card-up indigo aqua-gradient"></div>
                            <div class="avatar mx-auto white">
                                <img src="{% static 'event_reg/img/about-us2.jpg' %}" class="rounded-circle" alt="woman avatar">
                            </div>
                            <div class="card-body">
                                <h2 class="title">Mr. Roshan Patel</h2>
                                <div class="desig">Founder (Executive Director)</div>
                                <hr>
                                <p><i class="fa fa-quote-left"></i>Prepare to be shameless to reach the pinnacle of success</p>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6">

                        <div class="card testimonial-card">

                            <div class="card-up indigo aqua-gradient"></div>

                            <div class="avatar mx-auto white">
                                <img src="{% static 'event_reg/img/about-us.jpg' %}" class="rounded-circle" alt="woman avatar">
                            </div>
                            <div class="card-body">

                                <h2 class="title">Mr. Pratham Takawale</h2>
                                <div class="desig">Co-Founder (Executive Director)</div>
                                <hr>

                                <p><i class="fa fa-quote-left"></i>Success usually comes to those who are too busy to be looking for it</p>
                            </div>

                        </div>
                      </div>


                </div>
            </section>




        </div>

    </main>

    {%endblock%}
    <!--==========================
      Footer
    ============================-->
    