
{% extends 'master.html' %}

{% load static %}
{% block content %}
    <section id="innerpage">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>About Us</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ul>
            </div>
        </div>
    </section>
    <main id="main" class="bg-white">
        <div class="container">
            <section class="wow fadeInUp">

                <div class="row">
                    <div class="col-lg-7 col-md-7">

                        <div class="wow fadein ">
                            <img src="{% static 'event_reg/img/about-us.png' %}" alt="about us image" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="section-header ptb-30">
                            <h2>
                                ABOUT US

                            </h2>
                        </div>
                        <p>
                           Founded in 2019 in Pune by talented and versatile actors Roshan Patel and Pratham Takawale VYOMA Motion Pictures is set to create and produce the definitive, versatile, and prominent work Indian cinema.
                        </p>
                        <p>
Over the years, Roshan Patel and Pratham Takawale have had the insiders’ experience of the Indian Film Industry. Their struggles, years of experience, and passion to help other talented aspiring artists, lead to the foundation of VYOMA Motion Pictures Pvt. Ltd. 
</p>
<p>
VYOMA Motion Pictures is a Pune based production house with a team of experts and passionate writers, editors, creative directors, production coordinators, and technicians who work together on the project to create a piece of art that will not only tug the audience’s hearts but help raw talents and known faces to showcase their talent through powerful story and characters.
</p>
<p>
VYOMA Motion Pictures has marked its uniqueness from the very first step by focusing on finding fresh talent. The founders and the expert team of VYOMA host online competitions and short film festivals to find the hidden talent among the crowd and provide them the platform they deserve. 
</p>
<p>
From casting, movie production, and short films to music album, music concerts, and short film festivals VYOMA aims to provide the best of all under one roof.
</p>
<p>
The company is keen to serve as a home to the talented actors and artists as well as the celebrities in the country, has focused on building a reputation through powerful storytelling with quality and detail. We believe in creating original content that is both entertaining and enriching to the audience.
Get in touch to know how we can help you with our offerings and help you create a benchmark in the entertainment industry for others to follow.


                        </p>
                    </div>
                </div>
            </section>




        </div>

    </main>

    {%endblock%}
    <!--==========================
      Footer
    ============================-->
    