<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Events</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="{% static 'event_reg/img/favicon.png' %}" rel="icon">
    <link href="{% static 'event_reg/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="{% static 'event_reg/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="{% static 'event_reg/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'event_reg/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'event_reg/css/style.css' %}" rel="stylesheet" />
</head>
<body>
    <!--==========================
      Header
    ============================-->

    <div class="modal fade" id="login-signin" tabindex="-1" role="dialog" aria-labelledby="login-signin" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body p-0">
                    <nav class="login-btns">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active  m-0" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">LOGIN</a>
                            <!--<a class="nav-item nav-link m-0" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="false">SIGNUP</a>-->

                        </div>
                    </nav>
                    <div class="border-box m-0">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane  fade show active" id="login" role="tabpanel" aria-labelledby="login">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white">
                                            <i class="fa  fa-user fa-fw"></i>
                                        </span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="User Name">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white"><i class="fa  fa-key fa-fw"></i></span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="Password">
                                </div>
                                <div class="text-center mt-1">
                                    <a href="user-admin.html" class="btn btn-info">LOGIN</a>
                                </div>
                            </div>
                            <!--<div class="tab-pane fade" id="signin" role="tabpanel" aria-labelledby="signin">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white">
                                            <i class="fa fa-envelope-o fa-fw"></i>
                                        </span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="Email address">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white">
                                            <i class="fa  fa-user fa-fw"></i>
                                        </span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="User Name">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white"><i class="fa  fa-key fa-fw"></i></span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="Password">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white"><i class="fa  fa-key fa-fw"></i></span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="Confirm Password">
                                </div>
                                <div class="text-center mt-1">
                                    <button type="button" class="btn btn-info">
                                        SIGN UP
                                    </button>
                                </div>
                            </div>-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">

                <a href="index.html" class="scrollto"><img src="img/logo.png" alt="" title=""></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about_us' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <!-- <li><a class="" href="#" data-toggle="modal" data-target="#login-signin">Login / Register</a></li>-->
                    <li><a class="btn btn-info add-event-btn" href="/admin/" >{{user}}</a></li>
                    <li><a class="btn btn-info add-event-btn" href="/accounts/logout/" >Logout</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->


    <section id="innerpage">
        <div class="container wow fadeInUp">
            <section id="subscribe" class="">
                <div class="container wow fadeInUp">
                    <div class="section-header banner-section">
                        <div class="intro-container wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <h1 class="mb-1 text-white text-center pb-0"><span class="text-orange"> Vyoma  </span> Motion pictures </h1>
                            <p class="mb-2 pb-0">Find Interesting Competition </p>
                        </div>
                        <form action="#" method="post" novalidate="novalidate">
                            <div class="row">
                                <div class="col-lg-3 col-md-2"></div>
                                <div class="col-lg-8  col-md-10">

                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <select class="custom-select   form-control ">
                                                        <option selected>Select City</option>
                                                        <option value="1">New Delhi</option>
                                                        <option value="2">Pune</option>
                                                        <option value="3">Mumbai</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <div class="form-group">
                                                <select class="custom-select form-control">
                                                    <option>Select Category </option>
                                                    <option>Dance</option>
                                                    <option>Music</option>
                                                    <option>Casting</option>
                                                    <option>Movies</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <button type="button" class="btn btn-danger wrn-btn">SEARCH</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-1"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>





            <div class="section-header">
                <!--<h2>All Events</h2>-->


                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Events</li>
                </ul>
            </div>
        </div>
    </section>

    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section-header ptb-30">
                        <h2>
                            Upcoming Events
                            <small>popular events to go</small>
                        </h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <section id="speakers">
                        <div class="border-box wow fadeInUp">
                            <div class="filter">
                                <h2>
                                    Browse events
                                    <small>Popular cities</small>
                                </h2>
                            </div>
                            <div class="city-sidebar">



                                <ul>
                                    <li><a href="#"> Pune <small class="pull-right">25</small></a>   </li>
                                    <li><a href="#"> Mumbai <small class="pull-right">05</small></a>     </li>
                                    <li><a href="#"> Nashik <small class="pull-right">20</small></a>     </li>
                                    <li><a href="#"> Nagpur <small class="pull-right">02</small></a>   </li>
                                    <li><a href="#"> Kolhapur <small class="pull-right">50</small></a>     </li>
                                    <li><a href="#"> Satara <small class="pull-right">02</small></a>     </li>
                                </ul>

                            </div>

                        </div>


                        <div class="border-box wow m-0 fadeInUp">
                            <div class="filter p-0">
                                <h2>
                                    Search by event category
                                </h2>
                            </div>
                            <div class="city-sidebar">
                                <ul>
                                    <li>
                                        <a href="#">
                                            Movies

                                            <small class="pull-right">12</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Casting

                                            <small class="pull-right">02</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Web Series
                                            <small class="pull-right">10</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Music Album
                                            <small class="pull-right">03</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Music Concerts
                                            <small class="pull-right">01</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Short Film Festivals
                                            <small class="pull-right">15</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">

                                            Online Competition <small class="pull-right">15</small>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-9 col-md-9">

                    <section id="events" class="wow fadeInUp">
                        <div class="border-box">
                            <div class="container">
                               
                                <div class="row">
                                    {% for event in event %}
                                    <div class="col-lg-4 col-md-6">
                                        <div class="card">
                                            <img class="card-img-top" src="/media/{{event.event_photo}}" alt="Card image" />
                                            <div class="card-body" >
                                                <h4 class="card-title "><a href="{% url 'event_details_with_pk' pk=event.pk %}">{{event.event_name}}</a></h4>

                                                <p class="card-text address"><i class="fa fa-map-marker"></i>{{event.event_location}}</p>

                                                <p class="card-text address"><i class="fa fa-calendar-o"></i> {{event.event_start_date}} - {{event.event_end_date}}</p>
                                                <p class="m-0"><a href="{% url 'event_details_with_pk' pk=event.pk %}" class="btn btn-xs btn-orange">View Details</a><a class="btn btn-xs btn-orange pull-right" tabindex="0" href="{% url 'register_with_pk' pk=event.pk %}"> Register Now</a></p>
                                            </div>
                                                
                                        </div>
                                    </div>
                                    {%endfor%}


                                    <!-- <div class="col-lg-4 col-md-6">
                                        <div class="card">
                                            <img class="card-img-top" src="{% static 'event_reg/img/1.jpg' %}" alt="Card image" />
                                            <div class="card-body">
                                                <h4 class="card-title "><a href="{% url 'event_details' %}">Event Name ...</a></h4>

                                                <p class="card-text address"><i class="fa fa-map-marker"></i> Location here</p>

                                                <p class="card-text address"><i class="fa fa-calendar-o"></i> 20/Mar/2019 - 05/Apr/2019</p>
                                                <p class="m-0"><a href="event-details.html" class="btn btn-xs btn-orange">View Details</a><a class="btn btn-xs btn-orange pull-right" tabindex="0" href="Register-now.html"> Register Now</a></p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="card">
                                            <img class="card-img-top" src="{% static 'event_reg/img/5.jpg' %}" alt="Card image" />
                                            <div class="card-body">
                                                <h4 class="card-title "><a href="{% url 'event_details' %}">Event Name ...</a></h4>

                                                <p class="card-text address"><i class="fa fa-map-marker"></i> Location here</p>

                                                <p class="card-text address"><i class="fa fa-calendar-o"></i> 20/Mar/2019 - 05/Apr/2019</p>
                                                <p class="m-0"><a href="event-details.html" class="btn btn-xs btn-orange">View Details</a><a class="btn btn-xs btn-orange pull-right" tabindex="0" href="Register-now.html"> Register Now</a></p>
                                            </div>

                                        </div>
                                    </div>
 -->

                                </div>


                                <!-- <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="card">
                                            <img class="card-img-top" src="{% static 'event_reg/img/Circus.jpg' %}" alt="Card image" />
                                            <div class="card-body">
                                                <h4 class="card-title "><a href="{% url 'event_details' %}">Event Name ...</a></h4>

                                                <p class="card-text address"><i class="fa fa-map-marker"></i> Location here</p>

                                                <p class="card-text address"><i class="fa fa-calendar-o"></i> 20/Mar/2019 - 05/Apr/2019</p>
                                                <p class="m-0"><a href="event-details.html" class="btn btn-xs btn-orange">View Details</a><a class="btn btn-xs btn-orange pull-right" tabindex="0" href="Register-now.html"> Register Now</a></p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="card">
                                            <img class="card-img-top" src="{% static 'event_reg/img/1.jpg' %}" alt="Card image" />
                                            <div class="card-body">
                                                <h4 class="card-title "><a href="{% url 'event_details' %}">Event Name ...</a></h4>

                                                <p class="card-text address"><i class="fa fa-map-marker"></i> Location here</p>

                                                <p class="card-text address"><i class="fa fa-calendar-o"></i> 20/Mar/2019 - 05/Apr/2019</p>
                                                <p class="m-0"><a href="event-details.html" class="btn btn-xs btn-orange">View Details</a><a class="btn btn-xs btn-orange pull-right" tabindex="0" href="Register-now.html"> Register Now</a></p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="card">
                                            <img class="card-img-top" src="{% static 'event_reg/img/5.jpg' %}" alt="Card image" />
                                            <div class="card-body">
                                                <h4 class="card-title "><a href="{% url 'event_details' %}">Event Name ...</a></h4>

                                                <p class="card-text address"><i class="fa fa-map-marker"></i> Location here</p>

                                                <p class="card-text address"><i class="fa fa-calendar-o"></i> 20/Mar/2019 - 05/Apr/2019</p>
                                                <p class="m-0"><a href="event-details.html" class="btn btn-xs btn-orange">View Details</a><a class="btn btn-xs btn-orange pull-right" tabindex="0" href="Register-now.html"> Register Now</a></p>
                                            </div>

                                        </div>
                                    </div>

                                </div> -->
                            </div>
                        </div>
                    </section>


                </div>
            </div>

        </div>

    </main>
    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="{% static 'event_reg/img/logo.png' %}" alt="TheEvenet">
                        <p>Perspiciatis ad omnis fugit molestiae recusandae possimus. Aut consectetur id quis. In invusamus repellat cumque.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li class="menu-active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about_us' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Contact Us</h4>
                        <p>
                            <i class="fa fa-map-marker"></i> jdf gjdfghjdf hgfd <br>
                            fdgjkfd gkfdgfdg 456545<br>
                            India <br>
                            <strong><i class="fa fa-phone"></i> </strong> 1234567890<br>
                            <strong><i class="fa  fa-envelope"></i>  </strong> info@domain.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Follow Us</h4>


                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="copyright">
            <small> &copy; Copyright <strong>Vyoma Motion pictures</strong>. All Rights Reserved</small>
        </div>

    </footer>
    <!-- #footer -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="{% static 'event_reg/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'event_reg/lib/superfish/superfish.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'event_reg/js/main.js' %}"></script>
</body>
</html>
