<!DOCTYPE html>
<html lang="en">
{% if user.is_authenticated %}
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Events</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="{% static 'event_reg/img/favicon.png' %}" rel="icon">
    <link href="{% static 'event_reg/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="{% static 'event_reg/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="{% static 'event_reg/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'event_reg/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'event_reg/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'event_reg/lib/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'event_reg/lib/owlcarousel/assets/owl.theme.default.css' %}"  rel="stylesheet"/>
    <link href="{% static 'event_reg/lib/owlcarousel/assets/owl.carousel.css' %}" rel="stylesheet"/>
</head>
<body>


    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">

                <a href="{% url 'index' %}" class="scrollto"><img src="{% static 'event_reg/img/logo.png' %}" alt="" title=""></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about_us' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                     
                    
                     <li><a  href="/admin/"  >Switch to admin</a></li>
                      <li><a  href="{% url 'logout' %}"  >logout</a></li>
                     <li><a href="{%url 'user_account'%}">{{user}}</a></li>
                    <!-- <li><a class="" href="#" data-toggle="modal" data-target="#login-signin">Login / Register</a></li>-->
                    <!-- <li><a class="btn btn-info add-event-btn" href="/admin/" >Switch to admin</a></li> -->
                    <!-- <li><a class="btn btn-info add-event-btn" href="/accounts/logout/" >Logout</a> --><!-- </li> -->
                </ul>
            </nav>
     <!-- #nav-menu-container -->
        </div>
    </header>
  
    <div id="owl-slider1" class="owl-carousel">
        {%for event in event%}
        <div class="item"><img src="/media/{{event.event_photo}}" alt="The Last of us">
                          <div class="slide-caption">
                              <p class="heading">
                                  {{event.event_name}}
                              </p><p class="subheading">
                                 Location :{{event.event_location}}

                              </p>
                              <div> <a class="btn btn-info add-event-btn" tabindex="0" href="{% url 'register_with_pk' pk=event.pk %}"> REGISTER NOW</a>    </div>
                          </div>
        
        </div>
      
       {%endfor%}
    </div>

    
    <main id="main">
        <section class="services-section">
            <div class="section-header">
                <h2>
                    Services
                </h2>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <i class="fa  fa-film"></i>
                            </div>
                            <h3 class="title">Movies</h3>
                            <p class="description">
                                We are keen and focused on creating and developing original stories that shed light on the developmental and ethical issues of our society. 
                            </p>
                            <a class="read-more" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox red">
                            <div class="service-icon">
                                <i class="fa fa-video-camera"></i>
                            </div>
                            <h3 class="title">Casting</h3>
                            <p class="description">
                                Our casting experts and the team find the inner talent within the artists and find a role or a platform that will do justice to their talent. 
                            </p>
                            <a class="read-more" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox green">
                            <div class="service-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <h3 class="title"> Web Series</h3>
                            <p class="description">
                                We aim at creating quality web series based on the original stories that not only grab hold of the audience but also give them something to think about.
                            </p>
                            <a class="read-more" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox purple">
                            <div class="service-icon">
                                <i class="fa fa-music"></i>
                            </div>
                            <h3 class="title">Music Album</h3>
                            <p class="description">
                                Music is beyond the medium of entertainment. Music-powerful enough-stirs the listeners’ soul and makes us feel all sorts of emotions from the first beat. 
                            </p>
                            <a class="read-more" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox blue">
                            <div class="service-icon">
                                <i class="fa fa-music"></i>
                            </div>
                            <h3 class="title">Music Concerts</h3>
                            <p class="description">
                                Listening to music is a great way to deal with the stress, and we all agree to this. While the music is a stress-buster. 
                            </p>
                            <a class="read-more" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox yellow">
                            <div class="service-icon">
                                <i class="fa fa-file-video-o"></i>
                            </div>
                            <h3 class="title">Short Film Festivals</h3>
                            <p class="description">
                                We conduct several short film festivals to provide the platform to the young aspirers and find the emerging talent.
                            </p>
                            <a class="read-more" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox pink">
                            <div class="service-icon">
                                <i class="fa fa-play"></i>
                            </div>
                            <h3 class="title"> Online Competition</h3>
                            <p class="description">
                               We organize online competitions and screenings for writers, editors, actors, and other artists. 
                            </p>
                            <a class="read-more" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section> 
        <section id="events" class=" bg-white ptb-30 ">
            <div class="section-header  ptb-30">
                <h2>
                    Upcoming Events
                </h2>
            </div>
            <div class="container">
                <div class="row">
                    <div id="owl-carousel" class=" owl-carousel owl-theme">
                        {%for event in event %}
                        <div class="card" >
                            <img class="card-img-top" src="/media/{{event.event_photo}}" alt="Card image" />

                            <div class="card-body">
                                <h4 class="card-title" id="title"><a href="{% url 'event_details_with_pk' pk=event.pk %}">{{event.event_name}}</a></h4>

                                <p class="card-text address"><i class="fa fa-map-marker"></i> {{event.event_location}}</p>

                                <p class="card-text address"><i class="fa fa-calendar-o"></i> {{event.event_start_date}} - {{event.event_end_date}} </p>
                                <p class="m-0"><a href="{% url 'event_details_with_pk' pk=event.pk %}" class="btn btn-xs btn-orange">View Details</a><a class="btn btn-xs btn-orange pull-right" tabindex="0" href="{% url 'register_with_pk' pk=event.pk %}"> Register Now</a></p>
                            </div>

                        </div>
                        {% endfor %}

                       
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="{% static 'event_reg/img/logo.png' %}" alt="TheEvenet">
                        <p>VYOMA Motion Pictures Pvt. Ltd.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                           <li ><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about_us' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Contact Us</h4>
                        <p>
                            <i class="fa fa-map-marker"></i> jdf gjdfghjdf hgfd <br>
                            fdgjkfd gkfdgfdg 456545<br>
                            India <br>
                            <strong><i class="fa fa-phone"></i> </strong> 1234567890<br>
                            <strong><i class="fa  fa-envelope"></i>  </strong> info@domain.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Follow Us</h4>


                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="copyright">
            <small> &copy; Copyright <strong>Vyoma Motion pictures</strong>. All Rights Reserved</small>
        </div>

    </footer>
    <!-- #footer -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="{% static 'event_reg/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'event_reg/lib/superfish/superfish.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'event_reg/js/main.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        $('#owl-slider1').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:1,
            nav: false,
            height:250
        },
        1000:{
            items:1,
            nav:true,
            loop:false
        }
    }
})
       
$( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
 $( ".owl-next").html('<i class="fa fa-chevron-right"></i>');
        });
    </script>
</body>





{% else %}
<head>
    <meta charset="utf-8">
    <title>Events</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="{% static 'event_reg/img/favicon.png' %}" rel="icon">
    <link href="{% static 'event_reg/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="{% static 'event_reg/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="{% static 'event_reg/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'event_reg/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'event_reg/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'event_reg/lib/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'event_reg/lib/owlcarousel/assets/owl.theme.default.css' %}"  rel="stylesheet"/>
    <link href="{% static 'event_reg/lib/owlcarousel/assets/owl.carousel.css' %}" rel="stylesheet"/>
</head>
<body>


    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">

                <a href="{% url 'index' %}" class="scrollto"><img src="{% static 'event_reg/img/logo.png' %}" alt="" title=""></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about_us' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                     
                     
                     <li><a  href="/admin/"  >Switch to admin</a></li>
                     <li><a  href="{% url 'register_user' %}"  >Sign-Up</a></li>
                     <li><a href="{% url 'login' %}">Sign-in</a></li>
                   
                </ul>
            </nav>
     <!-- #nav-menu-container -->
        </div>
    </header>
  
    <div id="owl-slider1" class="owl-carousel">
        {%for event in event%}
        <div class="item"><img src="/media/{{event.event_photo}}" alt="The Last of us">
                          <div class="slide-caption">
                              <p class="heading">
                                  {{event.event_name}}
                              </p><p class="subheading">
                                 Location :{{event.event_location}}

                              </p>
                              <div> <a class="btn btn-info add-event-btn" tabindex="0" href="{% url 'register_with_pk' pk=event.pk %}"> REGISTER NOW</a>    </div>
                          </div>
        
        </div>
      
       {%endfor%}
    </div>

    
    <main id="main">
        <section class="services-section">
            <div class="section-header">
                <h2>
                    Services
                </h2>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <i class="fa  fa-film"></i>
                            </div>
                            <h3 class="title">Movies</h3>
                            <p class="description">
                                We are keen and focused on creating and developing original stories that shed light on the developmental and ethical issues of our society. 
                            </p>
                            <a class="read-more" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox red">
                            <div class="service-icon">
                                <i class="fa fa-video-camera"></i>
                            </div>
                            <h3 class="title">Casting</h3>
                            <p class="description">
                                Our casting experts and the team find the inner talent within the artists and find a role or a platform that will do justice to their talent. 
                            </p>
                            <a class="read-more" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox green">
                            <div class="service-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <h3 class="title"> Web Series</h3>
                            <p class="description">
                                We aim at creating quality web series based on the original stories that not only grab hold of the audience but also give them something to think about.
                            </p>
                            <a class="read-more" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox purple">
                            <div class="service-icon">
                                <i class="fa fa-music"></i>
                            </div>
                            <h3 class="title">Music Album</h3>
                            <p class="description">
                                Music is beyond the medium of entertainment. Music-powerful enough-stirs the listeners’ soul and makes us feel all sorts of emotions from the first beat. 
                            </p>
                            <a class="read-more" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox blue">
                            <div class="service-icon">
                                <i class="fa fa-music"></i>
                            </div>
                            <h3 class="title">Music Concerts</h3>
                            <p class="description">
                                Listening to music is a great way to deal with the stress, and we all agree to this. While the music is a stress-buster. 
                            </p>
                            <a class="read-more" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox yellow">
                            <div class="service-icon">
                                <i class="fa fa-file-video-o"></i>
                            </div>
                            <h3 class="title">Short Film Festivals</h3>
                            <p class="description">
                                We conduct several short film festivals to provide the platform to the young aspirers and find the emerging talent.
                            </p>
                            <a class="read-more" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="serviceBox pink">
                            <div class="service-icon">
                                <i class="fa fa-play"></i>
                            </div>
                            <h3 class="title"> Online Competition</h3>
                            <p class="description">
                               We organize online competitions and screenings for writers, editors, actors, and other artists. 
                            </p>
                            <a class="read-more" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section> 
        <section id="events" class=" bg-white ptb-30 ">
            <div class="section-header  ptb-30">
                <h2>
                    Upcoming Events
                </h2>
            </div>
            <div class="container">
                <div class="row">
                    <div id="owl-carousel" class=" owl-carousel owl-theme">
                        {%for event in event %}
                        <div class="card" >
                            <img class="card-img-top" src="/media/{{event.event_photo}}" alt="Card image" />

                            <div class="card-body">
                                <h4 class="card-title" id="title"><a href="{% url 'event_details_with_pk' pk=event.pk %}">{{event.event_name}}</a></h4>

                                <p class="card-text address"><i class="fa fa-map-marker"></i> {{event.event_location}}</p>

                                <p class="card-text address"><i class="fa fa-calendar-o"></i> {{event.event_start_date}} - {{event.event_end_date}} </p>
                                <p class="m-0"><a href="{% url 'event_details_with_pk' pk=event.pk %}" class="btn btn-xs btn-orange">View Details</a><a class="btn btn-xs btn-orange pull-right" tabindex="0" href="{% url 'register_with_pk' pk=event.pk %}"> Register Now</a></p>
                            </div>

                        </div>
                        {% endfor %}

                       
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="{% static 'event_reg/img/logo.png' %}" alt="TheEvenet">
                        <p>VYOMA Motion Pictures Pvt. Ltd.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                           <li ><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about_us' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Contact Us</h4>
                        <p>
                            <i class="fa fa-map-marker"></i> jdf gjdfghjdf hgfd <br>
                            fdgjkfd gkfdgfdg 456545<br>
                            India <br>
                            <strong><i class="fa fa-phone"></i> </strong> 1234567890<br>
                            <strong><i class="fa  fa-envelope"></i>  </strong> info@domain.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Follow Us</h4>


                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="copyright">
            <small> &copy; Copyright <strong>Vyoma Motion pictures</strong>. All Rights Reserved</small>
        </div>

    </footer>
    <!-- #footer -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="{% static 'event_reg/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'event_reg/lib/superfish/superfish.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'event_reg/js/main.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        $('#owl-slider1').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:1,
            nav: false,
            height:250
        },
        1000:{
            items:1,
            nav:true,
            loop:false
        }
    }
})
       
$( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
 $( ".owl-next").html('<i class="fa fa-chevron-right"></i>');
        });
    </script>
</body>



</html>

{% endif %}

</html>