{% extends 'master.html' %}

{% load static %}
{% block content %}   
    <section id="innerpage">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>Payment Successful</h2>


                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Payment Response</li>
                </ul>
            </div>
        </div>
    </section>
    <main id="main">
        <div class="container">
            <section class="wow fadeInUp">
                <div class="border-box">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">

                            <div class=" m-0 wow fadeInUp">
                                <img src="https://icon-library.net/images/icon-checkmark/icon-checkmark-12.jpg" alt="about us image" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <h2 style="color: red">Thank you for your payment !</h2>
                          
								                                
								{% for key,value in paytm.items %}
								  <p style="color: white" class="m-0">
								    {{key}} :  {{value}} <hr>
								     </p>
								{% endfor %}
                           
                        </div>
                    </div>
                </div>
            </section>

            
        </div>
       
    </main>
    {%endblock%}