<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Events</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="{% static 'event_reg/img/favicon.png' %}" rel="icon">
    <link href="{% static 'event_reg/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="{% static 'event_reg/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="{% static 'event_reg/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'event_reg/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'event_reg/css/style.css' %}" rel="stylesheet" />
</head>
<body>
    <!--==========================
      Header
    ============================-->

    <div class="modal fade" id="login-signin" tabindex="-1" role="dialog" aria-labelledby="login-signin" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body p-0">
                    <nav class="login-btns">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active  m-0" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">LOGIN</a>
                            <!--<a class="nav-item nav-link m-0" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="false">SIGNUP</a>-->

                        </div>
                    </nav>
                    <div class="border-box m-0">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane  fade show active" id="login" role="tabpanel" aria-labelledby="login">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white">
                                            <i class="fa  fa-user fa-fw"></i>
                                        </span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="User Name">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white"><i class="fa  fa-key fa-fw"></i></span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="Password">
                                </div>
                                <div class="text-center mt-1">
                                    <a href="user-admin.html" class="btn btn-info">LOGIN</a>
                                </div>
                            </div>
                            <!--<div class="tab-pane fade" id="signin" role="tabpanel" aria-labelledby="signin">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white">
                                            <i class="fa fa-envelope-o fa-fw"></i>
                                        </span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="Email address">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white">
                                            <i class="fa  fa-user fa-fw"></i>
                                        </span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="User Name">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white"><i class="fa  fa-key fa-fw"></i></span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="Password">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ninput bg-white"><i class="fa  fa-key fa-fw"></i></span>
                                    </div>
                                    <input class="form-control ninput" type="text" placeholder="Confirm Password">
                                </div>
                                <div class="text-center mt-1">
                                    <button type="button" class="btn btn-info">
                                        SIGN UP
                                    </button>
                                </div>
                            </div>-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">

                <a href="index.html" class="scrollto"><img src="img/logo.png" alt="" title=""></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about_us' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <!-- <li><a class="" href="#" data-toggle="modal" data-target="#login-signin">Login / Register</a></li>-->
                    <li><a class="btn btn-info add-event-btn" href="/admin/" >{{user}}</a></li>
                    <li><a class="btn btn-info add-event-btn" href="/accounts/logout/" >Logout</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->
    <!--==========================
      Subscribe Section
    ============================-->
    <section id="innerpage">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>Our Services</h2>


                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Services</li>
                </ul>
            </div>
        </div>
    </section>
    <main id="main">
        <div class="container">




            <section class="wow fadeInUp">
                <div class="border-box">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">

                            <div class=" m-0 wow fadeInUp">
                                <img src="{% static 'event_reg/img/4.jpg' %}" alt="about us image" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <h2>Movies</h2>
                            <p class="m-0">
                                VYOMA Motion Pictures has a passionate and experienced in-house production team. The company aspires to stand out from the commercial film production houses in the Indian Film Industry. We are keen and focused on creating and developing original stories that shed light on the developmental and ethical issues of our society. Further, the vision extends itself to connect with the multicultural audiences of India and create stories that will tug at the strings of their hearts.
                            </p>
                            <p class="m-0">
                                VYOMA Motion Pictures is adamant about providing the quality of films in terms of look and feel as well as techniques used for film making. The vision is to create and develop movies, short films or web series that the audience will find both entertaining and enriching. Our vision for the future is to expand our horizons and make films in different genres every year blurring the barriers of the subjects, languages or cultures. 
                                Our efforts are to be established as the film production house known for its quality, originality, and reach to the bigger audience.

                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="border-box  wow fadeInUp">
                <div class="row">

                    <div class="col-lg-9 col-md-9">
                        <h2>Casting</h2>
                        <p class="m-0">
                            Casting in the Indian Film Industry has indeed come a long way from being an incidental cog in the wheel of the enormous film industry to becoming the backbone of a quality cinema. In this journey, we are set to bring talented artists to the front row. VYOMA Motion Pictures stands out from the other casting companies from the very process. The company has been incepted on the idea of helping the fresh talent and struggling artists find their inner talent and give them equal opportunity in casting process along with the celebrities.
                        </p>

                        <p class="m-0">  
                            Our casting experts and the team find the inner talent within the artists and find a role or a platform that will do justice to their talent. It’s our motto to help the artists grab their ‘lucky break’ in the enormous Indian Film industry.
                            VYOMA motion Pictures’ exceptional proficiency, consistency, and a casting process spots and hones the best of acting talent that meets the requirements of movies, short films, and web series. VYOMA handpicks competent artistes through online competitions to portray challenging roles. In the process, VYOMA aims to help the artists carve their niche.

                        </p>
                    </div>
                    <div class="col-lg-3 col-md-3">

                        <div class="">
                            <img src="{% static 'event_reg/img/4.jpg' %}" alt="about us image" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>

            <section class="wow fadeInUp">
                <div class="border-box">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">

                            <div class=" m-0 wow fadeInUp">
                                <img src="{% static 'event_reg/img/4.jpg' %}" alt="about us image" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <h2> Web Series</h2>
                            <p class="m-0">
                                VYOMA Motion Pictures is set for a path-breaking creation and development of diverse short films. We aim at creating quality web series based on the original stories that not only grab hold of the audience but also give them something to think about. We believe the stories that are both entertaining and enriching are remembered for longer.  VYOMA Motion Pictures is among the promising production houses.  
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="border-box  wow fadeInUp">
                <div class="row">

                    <div class="col-lg-9 col-md-9">
                        <h2>Online Competitions</h2>
                         <p class="m-0">
                            From casting limited only to the big banners and film production houses to the directors reaching out to the private casting companies, talent searching in the Indian Film Industry has come a long way. However, the process of picking the celebrities and known faces first, the casting process in the mainline Indian Film Industry hasn’t changed much. In this process, the talented actors and artists get filtered out without any strong reason.

                        </p>
                        <p class="m-0">
                            VYOMA Motion Pictures is a unique production house providing many services under one roof. The main motto of the casting department of VYOMA is to find the talented and aspiring artists from the crowd and give them equal opportunity alongside the celebrities.
                        </p>
                        <p class="m-0">
                            The company has set its path-breaking process to find new talents through online competitions. We organize online competitions and screenings for writers, editors, actors, and other artists. The vision is to make the process of finding the new talent for filmmakers and being found for the artists simpler and easier. 
                        </p>
                        <p class="m-0">
                            Our team finds talented artists through such competitions and helps them take the first step towards their dream. 

                        </p>
                    </div>
                    <div class="col-lg-3 col-md-3">

                        <div class="">
                            <img src="{% static 'event_reg/img/4.jpg' %}" alt="about us image" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <section class="wow fadeInUp">
                <div class="border-box">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">

                            <div class=" m-0 wow fadeInUp">
                                <img src="{% static 'event_reg/img/4.jpg' %}" alt="about us image" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <h2> Music Album</h2>
                            <p class="m-0">
                                Music is beyond the medium of entertainment. Music - powerful enough - stirs the listeners’ soul and makes us feel all sorts of emotions right from the first beat. We believe that good music takes a listener on an unforgettable journey every time. 
                            </p>
                            <p class="m-0">

                                With this belief, we produce quality music albums that leave the audience speechless. With a focused and well-thought strategy, the founders Roshan Patel and Pratham Takawale catapulted VYOMA Motion Pictures to multi-product and multifunctional production house.
                            </p>
                            <p class="m-0">
                                The aim is to offer an equal chance to experienced artists and fresh talents along with celebrities. Our casting directors and team are experts in finding the talent within and help artists find the right role in different platforms.

                                Along with the original composition and right talent, the company is passionate about keeping the quality of music album up to the mark in terms of audio, visual, and the techniques used throughout the making process.

                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="border-box  wow fadeInUp">
                <div class="row">

                    <div class="col-lg-9 col-md-9">
                        <h2>Music Concerts</h2>
                        <p class="m-0">
                            Listening to music is a great way to deal with the stress, and we all agree to this. While the music is a stress-buster, it also boosts the mood of places and people. In India, festivals and celebrations are incomplete without music. We know the exact taste and mood of the crowd and organize the music concerts around the year. 
                        </p>
                        <p class="m-0">
                            With the increasing demand for organizing music concerts, it has become more important to make the right call and consult the experts on organizing the music concert and find the artists that their audience will love to listen to. Our team at VYOMA is skilled, experienced and most importantly, passionate about music. The company is an expert at organizing live music concerts and shows according to the client’s precise requirements. 
                        </p>
                        <p class="m-0">
                            Our associations with numerous celebrities as well as the unique process of finding talented artists make it easier for us to arrange live music shows for you. No one wants to face the bigger disappointment of their audience and with the advanced techniques and equipment and experienced team, we make sure your event becomes a hit sensation that leaves a positive mark on your audiences’ minds.

                        </p>
                    </div>
                    <div class="col-lg-3 col-md-3">

                        <div class="">
                            <img src="{% static 'event_reg/img/4.jpg' %}" alt="about us image" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <section class="wow fadeInUp">
                <div class="border-box">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">

                            <div class=" m-0 wow fadeInUp">
                                <img src="{% static 'event_reg/img/4.jpg' %}" alt="about us image" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <h2>  Short Film Festivals</h2>
                            <p class="m-0">
                                We conduct several short film festivals to provide the platform to the young aspirers and find the emerging talent in the world of Indian cinema. Since its inception, the company has marked its uniqueness by its objective and process. We are a group of artists passionate about film making and music production. The company is proud to have carved a niche in film making that brings the important developmental and social issues in the society to the front.
                            <p class="m-0">
                                The short film festivals attract filmmakers, Bollywood celebrities, critics, and academicians in India while providing an enormous platform for actors, independent filmmakers, and artists to showcase their talent and be found in the crowd.
                            </p>
                             <p class="m-0">
                                We believe that films or any form of visual art is a powerful medium to bring the developmental issues and social change to the front and the short film festival uses the wide reach to rally public opinion towards equality and dignity for different groups of society.
                             
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <div class="border-box  wow fadeInUp">
                <div class="row">

                    <div class="col-lg-9 col-md-9">
                        <h2>Online Competitions</h2>
                        <p class="m-0">
                            From casting limited only to the big banners and film production houses to the directors reaching out to the private casting companies, talent searching in the Indian Film Industry has come a long way. However, the process of picking the celebrities and known faces first, the casting process in the mainline Indian Film Industry hasn’t changed much. In this process, the talented actors and artists get filtered out without any strong reason.

                        </p>
                        <p class="m-0">
                            VYOMA Motion Pictures is a unique production house providing many services under one roof. The main motto of the casting department of VYOMA is to find the talented and aspiring artists from the crowd and give them equal opportunity alongside the celebrities.
                        </p>
                        <p class="m-0">
                            The company has set its path-breaking process to find new talents through online competitions. We organize online competitions and screenings for writers, editors, actors, and other artists. The vision is to make the process of finding the new talent for filmmakers and being found for the artists simpler and easier. 
                        </p>
                        <p class="m-0">
                            Our team finds talented artists through such competitions and helps them take the first step towards their dream. 

                        </p>
                    </div>
                    <div class="col-lg-3 col-md-3">

                        <div class="">
                            <img src="{% static 'event_reg/img/4.jpg' %}" alt="about us image" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
       
    </main>
    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="{% static 'event_reg/img/logo.png' %}" alt="TheEvenet">
                        <p>VYOMA Motion Pictures Pvt. Ltd.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li ><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about_us' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'contact' %}l">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Contact Us</h4>
                        <p>
                            <i class="fa fa-map-marker"></i> jdf gjdfghjdf hgfd <br>
                            fdgjkfd gkfdgfdg 456545<br>
                            India <br>
                            <strong><i class="fa fa-phone"></i> </strong> 1234567890<br>
                            <strong><i class="fa  fa-envelope"></i>  </strong> info@domain.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Follow Us</h4>


                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="copyright">
            <small> &copy; Copyright <strong>Vyoma Motion pictures</strong>. All Rights Reserved</small>
        </div>

    </footer>
    <!-- #footer -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="{% static 'event_reg/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'event_reg/lib/superfish/superfish.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'event_reg/lib/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'event_reg/js/main.js' %}"></script>
</body>
</html>
