{% extends 'basic.html' %}
{% load crispy_forms_tags%}
{% block title %}User SignUp{% endblock %}

{% block content %}
    <br><br><br><br><br>
<h2>User sign up</h2>
  
<div  id="signin" role="tabpanel" aria-labelledby="signin">
                                <div class="input-group mb-3">
                                    
                                       <form method="post" >
                                        {% csrf_token %}
                                          {{forms|crispy}}
                                                 
                                        {% for field in form %}
                                         <div class="col-lg-12 form-group  col-md-12">
                                          <p >
                                            {{ field.label_tag }}<br>
                                            {{ field }}
                                            {% if field.help_text %}
                                              <small style="color: grey">{{ field.help_text }}</small>
                                            {% endif %}
                                            {% for error in field.errors %}
                                              <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                          </p>
                                               </div>

                                        {% endfor %}
                                        <button type="submit">Sign up</button>
                                      </form>
                                   
                                   
                                </div>
                                

     

</div>

{% endblock %}




   
    
