{% extends 'master.html' %}

{% load static %}
{% block content %} 


    <section id="innerpage">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>{{user.first_name}},Registration</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User account</li>
                </ul>
            </div>
        </div>
    </section>
    <main id="main" class="bg-white">
        <div class="container">
            <section class="wow fadeInUp">

                <div class="row">

               
                    <table>
  <tr>
     <th>Registratrion ID</th>
    <th>Register for Event</th>
    <th>Category</th>
    <th>Sub-Category</th>
    <th>Total Images uploaded</th>
    <th>Images</th>
    <th>Total Videos Uploaded</th>
     <th>videos</th>
    <th>upload files</th>


  </tr>

  
  {%for reg in registration_details %}
 
  
      {% csrf_token %}
  <tr>
    <td>{{reg.register_user.id}} </td>
    <td>{{reg.register_user.event.event_name}}</td>
    <td>{{reg.register_user.event.event_category}}</td>
    <td>{{reg.register_user.event_sub_category}}</td>
    <td>{{reg.image_count}}</td>
    <td>{%for image in reg.image%}
       <iframe width="200" height="200"
src="/media/{{image.image}}">
</iframe>

    {%endfor%}
  </td>
    <td>{{reg.video_count}} </td>
     <td>{%for video in reg.video%}
      <iframe width="200" height="200"
src="/media/{{video.video}}">
</iframe>
    {%endfor%}</td>
    
    <td><a href="{% url 'FileUpload' pk=reg.register_user.event.pk  id=reg.register_user.id %}">Upload Files</a></td>
  </tr>

 
  {%endfor%}


</table>
                    
                </div>
            </section>




        </div>

    </main>


    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>
    {%endblock%}