{% extends 'master.html' %}

{% load static %}
{% block content %} 


    <section id="innerpage">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>Registration Detail</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User account</li>
                </ul>
            </div>
        </div>
    </section>
    <main id="main" class="bg-white">
        <div class="container">
            <section class="wow fadeInUp">

                <div class="row">

               
                    <table class="table table-dark table-striped table-responsive-lg">
  <tr>
     <th>Registratrion Id</th>
    <th>Event Name</th>
    <th>Category</th>
    <th>Sub Category</th>
    <th>Uploaded Images</th>
    <th>Uploaded Videos</th>
    <th>Amount Paid</th>
    <th>Upload Files</th>


  </tr>

  
  {%for reg in registration_details %}
 
  
      {% csrf_token %}
  <tr>
    <td>{{reg.register_user.id}} </td>
    <td>{{reg.register_user.event.event_name}}</td>
    <td>{{reg.register_user.event.event_category}}</td>
    <td>{{reg.register_user.event_sub_category}}</td>
   <td>
       <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#demo_img_{{reg.register_user.id}}">{{reg.image_count}}</button>
      <div id="demo_img_{{reg.register_user.id}}" class="collapse">
      {%for image in reg.image%}
      <img src="/media/{{image.image}}" class="img-thumbnail" alt="Cinque Terre" width="100" height="100" border="2" controls>
   
    {%endfor%}
  </div>
  </td>
    
     <td>
      <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#demo_{{reg.register_user.id}}">{{reg.video_count}}</button>
  <div id="demo_{{reg.register_user.id}}" class="collapse">
     {%for video in reg.video%}
     <video width="220" height="140" controls>
        <source src="/media/{{video.video}}" type="video/mp4">
      </video>
       {%endfor%}
  </div>
     

     
   </td>
    
    <td><i class="fa fa-rupee"></i> {{reg.amount.TXNAMOUNT__sum }}</td>
     <td> <a href="{% url 'FileUpload' pk=reg.register_user.event.pk  id=reg.register_user.id %}" class="btn btn-info" role="button">Upload Files</a></td>
    <!-- td><a href="{% url 'FileUpload' pk=reg.register_user.event.pk  id=reg.register_user.id %}">Upload Files</a></td> -->
  </tr>

 
  {%endfor%}


</table>
                    
                </div>
            </section>




        </div>

    </main>


    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>
    {%endblock%}