{% extends 'master.html' %}
{%load static%}
{% block content %}
<section id="innerpage">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>Forgot password</h2>


                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Forgot password</li>
                </ul>
            </div>
        </div>
    </section>
    <main id="main">
        <div class="container">
<section class="wow fadeInUp">
                <div class="border-box">
                    <div class="row">
                        
                        <div class="col-lg-9 col-md-9">
                            <h3>Forgot password</h3>
								  <form method="post">
								    {% csrf_token %}
								    {{ form.as_p }}
								    <button type="submit">Submit</button>
								  </form>
							                        </div>
                    </div>
                </div>
            </section>
  
{% endblock %}
